<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinfei.jfmc.dao.QuatityinfoMapper" >
  <resultMap id="BaseResultMap" type="com.jinfei.jfmc.model.Quatityinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="locale" property="locale" jdbcType="VARCHAR" />
    <result column="workStep" property="workstep" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="badNum" property="badnum" jdbcType="INTEGER" />
    <result column="execDate" property="execdate" jdbcType="INTEGER" />
    <result column="factoryId" property="factoryid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, locale, workStep, num, badNum, execDate, factoryId
  </sql>
  <select id="getQuatityinfoLiat" resultMap="BaseResultMap">
    SELECT *
    FROM quatityinfo
    WHERE factoryId = #{factoryid,jdbcType=INTEGER}
    ORDER BY id DESC
  </select>
</mapper>